.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}

.menu {
  display: flex;
  justify-content: flex-start;
}

.navlinks {
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: flex;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero img {
  width: 250px;
  height: 250;
  border-radius: 30%;
  float: right;
}

.hero P {
  float: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
}

.hero btn {
  border-color: brown;
  border-style: dotted;
  border-radius: 2px;
}

.hero btn :hover {
}

.myportfolio {
  display: flex;
}

.myportfolio img {
  display: flex;
  width: 250px;
  height: 250;
  border-radius: 30%;
}
